@using Microsoft.AspNetCore.Identity
@using AssistCust.Domain.Entities;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    string returnUrl = null;
    var query = ViewContext.HttpContext.Request.Query;
    if (query.ContainsKey("returnUrl"))
    {
        returnUrl = query["returnUrl"];
    }
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="hello" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a id="register" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@returnUrl">Register</a>
        </li>
        <li class="nav-item">
            <a id="login" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@returnUrl">Login</a>
        </li>
    }
</ul>

<script>
    let lang = window.localStorage.getItem('AssistCustLang');
    if (lang === null || lang === "null") {
        lang = "en";
    }
    let strings;
    if (lang === "en") {
        strings = {
            hello: "Hello",
            logout: "Logout",
            register: "Register",
            login: "Login",
        }
    } else {
        strings = {
            hello: "Привіт",
            logout: "Вийти",
            register: "Зареєструватися",
            login: "Вхід",
        }
    }
    const login = document.getElementById("login");
    const logout = document.getElementById("logout");
    const register = document.getElementById("register");
    const hello = document.getElementById("hello");

    login.textContent = strings.login;
    logout.textContent = strings.logout;
    register.textContent = strings.register;
    hello.textContent = strings.hello;
</script>

